<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alumnos.Properties.Settings.baseSistemaAlumnoConnectionString"
            connectionString="Data Source=CC102-16\SA;Initial Catalog=baseSistemaAlumno;Persist Security Info=True;User ID=sa;Password=adminadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>